**/__pycache__/**
**/.venv/**
**/.mypy_cache/**
**/.pytest_cache/**
**/.idea/**
**/.DS_Store
**/*.pyc
**/.env
*/.ipynb_checkpoints/**
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
